<div class="row g-0">
  <div class="col-12 p-1">
    <app-sorting-selector></app-sorting-selector>
  </div>

  <div class="col-md-12 col-lg-9 p-1">
    <mat-card class="h-100">
      <ng-container *ngIf="selectedSortingFunctionKeys.length === 0">
        <div class="display-4 text-center text-secondary">
          <p><mat-icon class="display-4">visibility_off</mat-icon></p>
          Empty canvas
        </div>
      </ng-container>

      <div class="row g-0">
        <div class="col-md-12 col-lg-{{ 12 / sortsPerRow }}" *ngFor="let key of selectedSortingFunctionKeys" #chartCanvases>
          <div><kbd>{{ key }}</kbd></div>
          <app-sorting-chart
            [componentWidth]="chartCanvasWidth"
            [componentHeight]="chartCanvasHeight"
            [sortingFunction]="sortingFunctions[key]"
            [sortingFunctionName]="key"
          ></app-sorting-chart>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="col-md-12 col-lg-3 p-1">
    <app-settings></app-settings>
  </div>

  <div class="col-12">
      <div class="row g-0">
        <div class="col-md-12 col-lg-4 p-1">
          <app-bar-chart></app-bar-chart>
        </div>
        <div class="col-md-12 col-lg-4 p-1">
          <app-pie-chart></app-pie-chart>
        </div>
        <div class="col-md-12 col-lg-4 p-1">
          <app-line-chart></app-line-chart>
        </div>
        <div class="col-12 p-1">
          <app-table></app-table>
        </div>
      </div>
  </div>
</div>
