<div class="row g-0">
  <div class="col-12 p-1">
    <app-sorting-selector></app-sorting-selector>
  </div>

  <div class="col-md-12 col-lg-9 p-1">

      <div class="row g-0">
        <div class="col-md-12 col-lg-{{ 12 / sortsPerRow }}" *ngFor="let key of selectedSortingFunctionKeys" #chartCanvases>
          <div><kbd>{{ key }}</kbd></div>
          <app-chart
            [componentWidth]="chartCanvasWidth"
            [componentHeight]="chartCanvasHeight"
            [sortingFunction]="sortingFunctions[key]"
            [sortingFunctionName]="key"
          ></app-chart>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="col-md-12 col-lg-3 p-1">
    <app-settings></app-settings>
  </div>

  <div class="col-12 p-1">
    <mat-card>
      * Incoming results table *
    </mat-card>
  </div>
</div>
