.logo-header-image {
    background-image: url('/assets/sorting.png');
    background-size: 225%;
}

.settings-header-image {
    background-image: url('/assets/android_cog.png');
    background-size: cover;
}

.slider-label-bold {
    font-weight: 600;
}