<div class="row g-0">
  <div class="col-12 p-1">
    <app-sorting-selector></app-sorting-selector>
  </div>








<div class="col-6" #chartCanvas>
    <app-chart *ngIf="isViewInit"
        [componentWidth]="chartCanvasWidth"
        [componentHeight]="chartCanvasHeight"
          ></app-chart>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="col-md-12 col-lg-4 p-1">
    <app-settings></app-settings>
  </div>

  <div class="col-12 p-1">
    <mat-card>
      * Incoming results table *
    </mat-card>
  </div>
</div>
