<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="logo-header-image"></div>
    <mat-card-title>Sorting algorithms</mat-card-title>
    <mat-card-subtitle>Choose one or more sorting algorithms to compare, then press Play</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="d-flex">
    <mat-form-field appearance="fill" class="w-50">
      <mat-label>Sorting functions</mat-label>
      <mat-select [formControl]="selectedSortingFunctionForm" multiple>
        <mat-option *ngFor="let function of sortingFunctions | keyvalue" [value]="function.key">{{ function.key }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-fab color="accent" class="mx-2" (click)="onPlay()">
      <mat-icon>play_arrow</mat-icon>
    </button>
  </mat-card-content>
</mat-card>