.settings-header-image {
    background-image: url('/assets/android_cog.png');
    background-size: cover;
}

.slider-label-bold {
    font-weight: 600;
}

.custom-mat-label {
    color: white;
    font-size: 18px;
}

.mat-slider-disabled {
    pointer-events: none;
}