<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="settings-header-image"></div>
    <mat-card-title>Settings</mat-card-title>
    <mat-card-subtitle>Customize preferences. then press Play</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <mat-form-field appearance="outline" floatLabel="always" class="w-75">
        <mat-label class="custom-mat-label">Generated array type</mat-label>
        <mat-select formControlName="inputArrayType">
          <mat-option *ngFor="let type of possibleInputArrayTypes | keyvalue" [value]="type.key">{{ type.value }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="customizeSettingsForm.controls.inputArrayType.value === 'userInputArray'"
        appearance="outline" floatLabel="always" class="w-75">
        <mat-label class="custom-mat-label">User input array (comma delimited)</mat-label>
        <input matInput formControlName="userInputArray">
      </mat-form-field>

      <div class="w-75 d-flex justify-content-between">
        <label>Input array size</label>
        <label class="slider-label-bold">{{ customizeSettingsForm.controls.inputArrayLength.value }}</label>
      </div>
      <mat-slider formControlName="inputArrayLength" min="1" max="300" thumbLabel class="w-75"
        [class.mat-slider-disabled]="customizeSettingsForm.controls.inputArrayType.value === 'userInputArray'">
      </mat-slider>

    <div class="w-75 d-flex justify-content-between">
      <label>Delay between array swaps (ms)</label>
      <label class="slider-label-bold">{{ customizeSettingsForm.controls.delay.value }}</label>
    </div>
    <mat-slider min="1" max="1000" thumbLabel class="w-75"
      [value]="customizeSettingsForm.controls.delay.value"
      (change)="customizeSettingsForm.controls.delay.setValue($event.value)">
    </mat-slider>
      <div>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label class="custom-mat-label">Bar color</mat-label>
          <input matInput [colorPicker]="customizeSettingsForm.controls.barColor.value"
            (colorPickerChange)="customizeSettingsForm.controls.barColor.setValue($event)"
            [style.background]="customizeSettingsForm.controls.barColor.value" readonly>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label class="custom-mat-label">Highlighted bar color</mat-label>
          <input matInput [colorPicker]="customizeSettingsForm.controls.highlightedBarColor.value"
            (colorPickerChange)="customizeSettingsForm.controls.highlightedBarColor.setValue($event)"
            [style.background]="customizeSettingsForm.controls.highlightedBarColor.value" readonly>
        </mat-form-field>
      </div>
  </mat-card-content>
  * Incoming more settings :O *
</mat-card>